// $base-color: #1e2d38 !default;
// $footer-bg-color: #1e2d38 !default;
// $footer-color: #4d5f6d !default;

$base-dark: #1e2d38 !default; //7C90A0
$base-light: #d5dfe6 !default; //517894
$base-darker: #172026 !default;
$compl-one: #eb843b !default; //7C90A0
$compl-two: #8a5b3a !default;
