.landingpage {
    display: grid;
    gap: 2em 2em;
    padding: 2em;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.landingpage .project {
    grid-column: span 3;
}

.image-box {
    color: #fff;
}

img,
embed,
object,
video {
    max-width: 100%;
}

@media screen and (max-width: 960px) {
    .landingpage {
        display: grid;
        gap: 1em 1em;
        padding: 2em;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }

    .landingpage h1 {
        grid-column: span 2;
        justify-self: center;
    }

    .landingpage .project {
        grid-column: span 2;
    }
}

@media screen and (max-width: 500px) {
    .landingpage {
        display: grid;
        gap: 1em 1em;
        padding: 2em;
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }

    .landingpage h1 {
        grid-column: span 1;
        justify-self: center;
    }

    .landingpage .project {
        grid-column: span 1;
    }
}
