@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
// @import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../shared/scss/base';
@import 'report';
@import 'kmom';

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Code Pro', monospace;
    color: $compl-two;
}

h4,
h5,
h6 {
    color: $base-dark;
}

p {
    color: $base-dark;
}

html,
body {
    height: 100%;
    background-color: $base-light;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

table {
    // border: 2px solid black;
    border-collapse: separate;
}

td {
    height: 50px;
    width: 50px;
    border: 1px solid $base-darker;
}

.snapshot {
    width: 50%;
    border: 1px solid $base-darker;
}

img {
    filter: opacity(100%);
}

.me-image {
    float: left;
    height: 300px;
    padding-right: 1em;
}

.header {
    color: $base-dark;
}

.header {
    a {
        color: $compl-two;
        text-decoration: none;
    }
}

.main {
    flex: 1 0 auto;

    .container {
        width: 80%;
        margin: auto;
    }
}



.nav {
    padding: 3em;
    text-align: right;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        display: inline-block;
        margin-left: 1em;
        padding: 0;
        font-weight: bold;
    }

    a .nav-toggle {
        color: $base-dark;
    }

    .active {
        text-decoration: underline;
        text-decoration-color: $compl-two;
    }

    a:hover,
    .nav-toggle:hover {
        color: $compl-one;
    }
}

.nav-toggle {
    display: none;
}

.header,
.footer {
    flex: 0 0 auto;
}

.title,
.logo {
    float: left;
    padding: 1em 0 1em 1em;
}

.logo * {
    display: block;
    height: 100%;
}

.logo img {
    width: 7em;
    height: auto;
    filter: opacity(100%);
}

.footer {
    background: $base-darker;
    color: $compl-one;
    padding-left: 1em;
    padding-right: 1em;

    a {
        color: $compl-one;
    }

    p {
        color: $compl-one;
    }
}

.social {
    float: right;
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

// #nav {
//     padding: 3em 0;
//     text-align: right;
//
//     ul {
//         list-style: none;
//         margin: 0;
//         padding: 0;
//     }
//
//     ul li {
//         display: inline-block;
//         margin-left: 1em;
//         padding: 0;
//         font-weight: bold;
//     }
//
//     a:hover,
//     #nav-toggle:hover {
//         text-decoration: underline;
//     }
// }
//
.nav-toggle {
    display: none;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Small devices */

@media screen and (max-width: 767px) {
    .title,
    .logo {
        float: left;
        padding: 1em 0 1em 1em;
        width: min-content;
    }

    .logo * {
        display: block;
        height: 100%;
    }

    .logo img {
        width: 7em;
        height: auto;
    }

    .nav {
        clear: both;
        padding: 0;

        ul {
            padding-bottom: 1em;
        }

        ul li {
            display: block;
            margin-left: 0;
            text-align: center;
        }

        ul li a {
            display: block;
            padding: 0.5em 0;
        }
    }

    .js {
        .nav-toggle {
            display: block;
            float: right;
            width: 2em;
            margin: 0.6667em 0;
            font-size: 1.5rem;
            line-height: 2em;
            text-align: center;
            cursor: pointer;
        }

        .nav-toggle>* {
            vertical-align: middle;
        }
    }
}
